<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- pull in angular-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script> <!--firebase javascript client-->
 <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>  <!-- AngularFire -->
 <script src="scripts/indexController11.js"></script>  
 <script src="scripts/renterController2.js"></script> 
 <script src="https://checkout.stripe.com/checkout.js"></script>
  
<head>
  <title>Facilitate Login</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body ng-app="facApp" ng-controller="indexController11">
  
         <!---start-main-->

        <div class="login-form" ><!---ng-app="myApp" ng-controller="formCtrl">-->
          <div class="head">
            <img src="images/mem2.jpg" alt=""/>
            
          </div>
        <form>
          <li>
            <input type="text" ng-model="username" class="text" value="USERNAME"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" ><a href="#" class=" icon user" ></a>
          </li>
          <li>
            <input type="password" ng-model="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
          </li>
          <div>
              <input type="submit" ng-click="login()" value="SIGN IN" >
             
          </div>
        </form>
       </div>
      <!--//End-login-form-->
      <div ng-if= "isAuthenticated == true">
            <h1>Welcome {{userEmail}} - {{role}}</h1>
            <button ng-click="logout()">logout</button>

            <div ng-if="role == 'renter'" ng-controller="renterController2">
                <script>
                  var handler = StripeCheckout.configure({
                    key: 'pk_test_zlIlMao9i1p5xMkfkmFMOalp',
                    image: '/img/documentation/checkout/marketplace.png',
                    locale: 'auto',
                    token: function(token) 
                    {
                          $.post( "http://localhost:3000/checkout", { stripeToken: token.id, amount: 2000 }, function(result)
                          {
                          console.log(result);
                      });
                           }
                                });
                   $('#customButton').on('click', function(e) 
                        {
                          // Open Checkout with further options
                          handler.open({
                            name: 'Demo Site',
                            description: '2 widgets',
                            amount: 2000
                          });
                          e.preventDefault();
                        });
                        // Close Checkout on page navigation
                        $(window).on('popstate', function() {
                          handler.close();
                        });
                </script>
                <table width="100%">
                        <tr>
                          <td width="50%">
                          <form novalidate>
                            <h2>Facility Type</h2>
                              <button ng-click="receptionButtonOnClick()">Reception Hall</button>
                              <button ng-click="banquetButtonOnClick()">Banquet Hall</button><br/>
                            <div ng-if="facility_type == 'reception'">
                              <h1>Reception Hall</h1>
                              <h1>Rental Cost: {{costPerHour * reception_numOfHours}}</h1>
                              <input type="text" ng-model="reception_numOfHours" style="border: 2px solid #ccc;" width="100%" placeholder="Hours of Reception Rental">
                              
                              <input type="text" ng-model="reception_instructions" style="border: 2px solid #ccc;" width="100%" placeholder="Special Instructions">
                            </div>
                            <div ng-if="facility_type == 'banquet'">
                              <h1>Banquet Hall</h1>
                              <h1>Rental Cost: {{costPerHour * banquet_numOfHours}}</h1>
                              <input type="text" ng-model="banquet_numOfHours" style="border: 2px solid #ccc;" width="100%" placeholder="Number of Cars LOL">
                              <input type="text" ng-model="lawn_instructions" style="border: 2px solid #ccc;" width="100%" placeholder="Hours of Banquet Rental">
                            </div>
                            
                                </form>
                                <button id="customButton">Purchase</button>
                          </td>
                          <td width="50%">
                            <h3>Requested Viewings:</h3>
                                    <ul>
                                        <li ng-repeat="obj in facility_requests_data  | filter:{viewing: '!n/a', viewingConfirmed: false}">{{obj.type}}--{{obj.viewing}}</li>
                                    </ul>
                          </td>
                          </tr>
                        <tr>
                          <td width="50%">
                           <h3>Viewings you have scheduled:</h3>
                                   <ul>
                                       <li ng-repeat="obj in facility_requests_data  | filter: {viewing: '!n/a', viewingConfirmed: true}">{{obj.type}}--{{obj.viewing}}</li>
                                   </ul>
                          </td>
                          <td width="50%">
                            <h3>Facilities you have booked:</h3>
                                    <ul>
                                        <li ng-repeat="obj in facility_requests_data  | filter: {booked: true}">{{obj.type}}</li>
                                    </ul>
                          </td>
                        </tr>
                      </table>
            </div>
      </div>
        
</body>
</html>